<h2>Pessoa</h2>
<p>
  <strong>Nome:</strong>
  <%= @person.nome %>
</p>
<p>
  <strong>Documento:</strong>
  <%= @person.documento %>
</p>
<p>
  <strong>Data de nascimento:</strong>
  <%= @person.data_nascimento_formatada %>
</p>
<%= link_to 'Editar pessoa', edit_person_path(@person) %>
<%= link_to 'Apagar pessoa', person_path(@person), method: :delete, data: { confirm: 'Tem certeza?' } %>
<br>
<div class="line"></div>
<br>
<% unless @person.animals.empty? %>
<h2>Pets</h2>
<table>
  <tr>
    <th>Nome</th>
    <th>Tipo</th>
    <th>Custo mensal</th>
    <th></th>
    <th></th>
  </tr>
    <%= render @person.animals %>
</table>
<% end %>
<br>
<h2>Cadastrar um animal</h2>
<%= render 'animals/form' %>
<br>
<%= link_to 'Voltar', people_path %>
