<h1>Pessoa</h1>
<p>
  <strong>Nome:</strong>
  <%= @person.nome %>
</p>
<p>
  <strong>Documento:</strong>
  <%= @person.documento %>
</p>
<p>
  <strong>Data de nascimento:</strong>
  <%= @person.data_nascimento_formatada %>
</p>
<h2>Pets</h2>
<table>
  <tr>
    <th>Nome</th>
    <th>Tipo</th>
    <th>Custo mensal</th>
    <th></th>
    <th></th>
  </tr>

  <% @person.animals.each do |animal| %>
    <tr>
      <td><%= animal.nome %></td>
      <td><%= animal.tipo %></td>
      <td><%= animal.custo_mensal %></td>
      <td><%= link_to 'Editar', edit_person_animal_path(animal) %></td>
      <td><%= link_to 'Apagar', person_animal_path(animal), method: :delete, data: { confirm: 'Tem certeza?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Editar pessoa', edit_person_path(@person) %>
<%= link_to 'Apagar', person_path(@person), method: :delete, data: { confirm: 'Tem certeza?' } %>
<br>
<%= link_to 'Voltar', people_path %>
