<h1>Pessoas</h1>
<p>
  <strong>Nome:</strong>
  <%= @person.nome %>
</p>
<p>
  <strong>Documento:</strong>
  <%= @person.documento %>
</p>
<p>
  <strong>Data de nascimento:</strong>
  <%= @person.data_nascimento %>
</p>

<%= link_to 'Editar pessoa', edit_person_path(@person) %>
<%= link_to 'Apagar', person_path(@person), method: :delete, data: { confirm: 'Tem certeza?' } %>
<br>
<%= link_to 'Voltar', people_path %>
