<h1>Pessoas</h1>
<table>
  <tr>
    <th>Nome</th>
    <th>Documento</th>
    <th>Data de nascimento</th>
    <th></th>
  </tr>

  <% @pessoas.each do |pessoa| %>
    <tr>
      <td><%= pessoa.nome %></td>
      <td><%= pessoa.documento %></td>
      <td><%= pessoa.data_nascimento_formatada %></td>
      <td><%= link_to 'Mostrar', pessoa_path(pessoa) %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Incluir pessoa', new_pessoa_path %>
